.banner-information-strip-background {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.6);
    -ms-box-shadow: 0 0 8px rgba(0,0,0,.6);
    box-shadow: 0 0 8px rgba(0,0,0,.6);
    background-color: rgba(6,21,47,.62);
    min-height: 920px;
    padding: 20px 10px 15px;
    position: absolute;
    height: 100%;
    width: 260px;
    bottom: 0;
    right: 0;
    top: 0;
    transition: .5s;
}


.login_form{
  padding: 10px 10px 10px;
  position: absolute;
  width: 300pt;
  height: 200pt;
  left: 200pt;
  top: 100pt;
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
  font-size:12px    
}
#login-dp .bottom{
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0    
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;

}
.btn-fb{
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc 
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}