<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="MojApp">
        <div ng-controller="MojCtrl" style="text-align:center; border: 3px solid darkcyan">
        Godina studiranja: <br>
        <input type="number" name="god" ng-model="godina"> <br>
        Trenutno ESPB: <br>
        <input type="number" name="bodovi" ng-model="espb"> <br>
        <button ng-click="izracunaj()">Izracunaj</button> <br>
        {{message}}<br>
        
        
        
        
        
        </div>
        <script src="js/angularmin.js"></script>
        <script src="app/app.js"></script>
</body>
</html>