<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div>
              <form class="form-inline">
                  <button class="btn btn-outline-success my-2 my-sm-0 pull-right"  type="submit">Pretraga</button>
                <input class="form-control mr-sm-2 pull-right"  type="search" placeholder="Ime filma" aria-label="Search">
                
              </form>
            </div>
        </nav>
    <div class="container" style="padding-top:70px"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Filmovi
        </div>
        <div class="panel-body">
            

            <div>
              <div class="col-xs-3" ng-repeat="el in vm.pretraga">
                  <img src="http://image.tmdb.org/t/p/w500/{{el.poster_path}}" style="height:250px;"><br>
                  <a href="http://www.imdb.com/title/{{el.imdb_id}}/">
                    <strong>{{ el.title | limitTo: 20 }}{{el.title.length > 20 ? '...' : ''}}</strong></a><br>
                  {{el.popularity}} <button class="btn btn-xs" ng-click="vm.set_favorit(el)">omiljeni</button>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <script src="js/app.js"></script>

  </body>
</html>
