<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Univerzitet Singidunum - Interakcija čovek računar</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link href="/css/app.css" rel="stylesheet">
    
  </head>
  <body ng-app="myApp" style="margin: 20px;">

    <div class="kartica" ng-controller="ProizvodiCtrl as vm">
        <naslov>Proizvodi</naslov> 
        Id: <input type="text" ng-model="vm.object.id"><br>
        naziv: <input type="text" ng-model="vm.object.naziv"><br>
        cena: <input type="text" ng-model="vm.object.cena"><br>
        kolicina: <input type="number" ng-model="vm.object.kolicina"><br>
        
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Naziv</th>
                <th>Cena</th>
                <th>Kolicina</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="el in vm.lista">
                <td>{{el.id}}</td>
                <td>{{el.naziv}}</td>
                <td>{{el.cena}}</td>
                <td>{{el.kolicina}}</td>
                <td><button ng-click=vm.delete(el)> Obrisi proizvod</button></td>
                <td><button ng-click=vm.forma(el)> Izmeni</button></td>
              </tr>
    
             
    
            </tbody>
          </table>
        <button ng-click=vm.add(vm.object)> Dodaj proizvod</button>
        <div ng-show ="vm.izmena" class="kartica2" >
            
            Id: <input type="text" ng-disabled="true" ng-model="vm.edit.id"><br>
            naziv: <input type="text" ng-model="vm.edit.naziv"><br>
            cena: <input type="text" ng-model="vm.edit.cena"><br>
            kolicina: <input type="number" ng-model="vm.edit.kolicina"><br>
            <button ng-click=vm.potvrdi()> Potvrdi</button>
            <button ng-click=vm.otkazi()> Otkazi</button>
        </div>
    </div>
    
   

   
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app_components/app.js"></script>
    
  </body>
</html>
