<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View</title>
</head>
<body ng-app="MojaApp">
    <div ng-controller="MojCtrl" style="text-align:center; border: 3px solid darkcyan">
    Temperatura izrazena u Celzijusima: <br>
    <input type="number" name="C" ng-model="cel"><br>
    <button ng-click="prebaci()">Prebaci</button> <br>
    Temperatura izrazena u Kelvinima: <br>
    <input type="number" name="K" ng-model="kel"><br>

    </div>
    <script src="js/angularmin.js"></script>
    <script src="app/app.js"></script>
</body>
</html>