<html>
    <head>
        <title>VezbeJS</title>
        <link rel="stylesheet" href="stiloviJS.css">
    </head>
    <body ng-app="PrvaAplikacija">
        <div ng-controller="KorisnikCtrl" style="text-align:center; border: 3px solid darkcyan">
        <form action ="/login" method="POST">
            Ime: {{ime}} <br/>
            Prezime: {{prezime}}<br/>
            Email: Email <br/>
            Username: Username <br/>
            <form>
                <input type="text" ng-model="ime">
                <input type="text" ng-model="prezime">
                </form>

            <!--<div class="group">
				<label for="ime">Ime:</label> <br />
				<input type="text" name="ime" id="ime" size="30"  required />
			</div><br>
			<div class="group">
				<label for="prezime">Prezime:</label> <br />
				<input type="text" name="prezime" id="prezime" size="30"  required />
            </div><br>
            <div class="group">
				<label for="Username">Korisnicko ime:</label> <br />
				<input type="text" name="Username" id="Username" size="30"  required />
            </div><br>
            <div class="group">
				<label for="email">Email:</label> <br />
				<input type="email" name="email" id="email" size="30"  required />
            </div><br>
           <br>
           
            

            <button class="button" onsubmit="myFunction()">Registruj se</button>-->
        </div>    
        </form>
        <script src="js/angularJS/angularJS.js"></script>
        <script src="app/app.js"></script>
    </body>
</html>