body {
    background-color: antiquewhite;
  }
  .group {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    
  }
  .button {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }