<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <!---------------LOGIN---------------------------------->
      <div class ="pull-right" ng-hide="vm.autorizovan">
        
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Already have an account?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                Login via
                <div class="social-buttons">
                  <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                  <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                                or
                 <form class="form" role="form" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                       <input type="email" class="form-control" ng-model="vm.email" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                       <input type="password" class="form-control" ng-model="vm.password" id="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                       <button ng-click="vm.login()" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                New here ? <a href="#"><b>Join Us</b></a>
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
    </div>
    
    <!---------------LOGOVAN---------------------------------> 
    <div ng-show="vm.autorizovan" class=  "pull-right"style="color:white">
        <div class="col-md-12" ></div>
          {{vm.message}}
        
        <div class="col-md-21" >
          <button class="btn btn-sm btn-primary" ng-click="vm.logout()">Logout</button>
        </div>
      </div>
     
      <div class="col-sm-3 col-md-3 pull-right">
          
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pretraga" ng-model="vm.searchText">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="submit" ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            </form>
        </div>

        <div class="col-sm-3 col-md-3 pull-center">
          <ul class="nav navbar-nav navbar-ce">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown" role="button"
                    aria-expanded="false">Žanrovi<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="el in vm.zanrovi"><a href="#" ng-click="vm.filter(el)">{{el.name}}</a></li>
                </ul>
              </li>
              <li><a href="#" ng-click="vm.filter('all')">Svi Filmovi</a></li>
            </ul>
          </div>
          
          
    </nav>

    <div class="container" style="padding-top:70px">
      <div class="panel panel-default">
        <div class="panel-heading">
          Filmovi
        </div>
        <div class="panel-body">
            <div>
              <div class="col-xs-3" ng-repeat="el in vm.filmovi">
                  <img src="http://image.tmdb.org/t/p/w500/{{el.poster_path}}" style="height:250px;"><br>
                  <a href="http://www.imdb.com/title/{{el.imdb_id}}/">
                    <strong>{{ el.title | limitTo: 20 }}{{el.title.length > 20 ? '...' : ''}}</strong></a><br>
                  {{el.popularity}} <button class="btn btn-xs" ng-click="vm.set_favorit(el)">omiljeni</button>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <script src="js/app.js"></script>

  </body>
</html>
