<html>
    <head>

    </head>
    <body ng-app="DrugaAplikacija">
        <div ng-controller="KorisnikCtrl">
        <table style="width:100%">
            <thead>
            <tr>
              <th align="left">Naziv</th>
              <th align="left">Kolicina</th> 
              <th align="left">Cena</th>
              <th align-"left">Vrednost</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="proizvod in proizvodi">
              <td>{{proizvod.naziv}}</td>
              <td>{{proizvod.kolicina}}</td>
              <td>{{proizvod.cena}}</td>
              <td>{{proizvod.cena*proizvod.kolicina}}</td>
            </tr>
            <tr>
            <td colspan=5 class="text-md-center"> Ukupna cena : {{total}}</td>   
            </tr>
        </tbody>

            
        </table>
    </div>
    </body><script src="js/angularJS/angularJS.js"></script>
        <script src="app/app.js"></script>
</html>