<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="MojApp">
    <div ng-controller="MojCtrl" style="text-align:center; border: 3px solid darkcyan">
Prva stranica: <br>
<input type="number" ng-model="prva"><br>
Druga stranica: <br>
<input type="number" ng-model="druga"><br>
<button ng-click="izracunaj()">Izracunaj</button> <br>
Obim: {{obim}} <br>
Povrsina: {{povrsina}}<br>
Dijagonala: {{dijagonala}}<br>
    </div>
    <script src="js/angularmin.js"></script>
    <script src="app/app.js"></script>
</body>
</html>